.Main_div{
    width: 100%;
    display: flex;
    justify-content: center;

}
input{ 
      background-color: var(--boxcolor); 
    width: 90%;
    min-width: 100px;
    border: none;
    height: 38px;
    border-radius: 20px;
    box-shadow: var(--BoxShadowButton);
    color: white;
    font-size: 17px;
    text-align: center;
}