.Main_div{
   /* background-color: aquamarine; */
   display: flex;
   height: 80px;
   justify-content: center;
   align-items: center;
   transition: 0.3s ease-in-out;
}

.Page_name{
    padding: 30px;
    width: 30%;
    /* background-color: aquamarine; */
    font-size: 2em;
   text-shadow: 2px black;
   font-weight: bold;
   color: rgb(223, 219, 225);
}
.tabs{
    width: 70%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: end;
    /* padding: 30px; */
    flex-direction: column;

}
.mobile_nav{
  /* background-color: blueviolet; */
}

@media screen and (min-width: 505px) and (max-width:650px) {
    .tabs{
      /* background-color: lightgreen; */
    }
    .desktop_nav{
     display: none;
    }
    .tablet_nav{
        display: none;
       }
    .mobile_nav{
      display: none;
       }
      
  }
@media screen and (min-width: 650px) and (max-width:1300px) {
    .tabs{
      /* background-color: lightgreen; */
    }
    .desktop_nav{
     display: none;
    }
    .tablet_nav2{
        display: none;
       }
       .mobile_nav{
        display: none;
         }   
  }
  @media screen and (min-width: 1300px) {
    .tablet_nav{
        display: none;
       }
     .tablet_nav2{
        display: none;
       }
     .mobile_nav{
        display: none;
         } 
  }
  @media screen and (max-width: 505px) {
    .tablet_nav{
        display: none;
       }
     .desktop_nav{
        display: none;
       }
       .tablet_nav2{
        display: none;
       }

       
  .Page_name{
        padding: 30px;
        width: 35%;
        /* background-color: aquamarine; */
    }
  .tabs{
        width: 65%;
        /* background-color: blueviolet; */
        display: flex;
        justify-content: end;
        /* padding: 30px; */
        flex-direction: column;
    
    }
  }
  /* @media screen and (min-width: 280px) and (max-width:500px) { */
    /* .tabs{ */
      /* background-color: lightgreen; */
    /* } */
    /* .desktop_nav{ */
     /* display: none; */
    /* } */
    /* .tablet_nav{ */
        /* display: none; */
       /* } */
    /* .tablet_nav2{ */
        /* display: none; */
       /* } */
  /* } */